.primary-button {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.6rem;
  justify-content: center;

  text-decoration: none;
  font-family: var(--font);
  color: var(--color-black);
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out;
   
  &:hover {
    transform: scale(0.95);
    background-color: var(--color-white-hover);
  }
}

.secondary-button {
  display: flex;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--color-red);
  border-radius: 0.6rem;
  justify-content: center;

  text-decoration: none;
  font-family: var(--font);
  color: var(--color-white);
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out;
   
  &:hover {
    transform: scale(0.95);
    background-color: var(--color-red-hover);
  }
}

