:root {
    --color-red: #c1272d;
    --color-red-hover: #801a1d;
    --color-white: #eaeaea;
    --color-white-hover: #c9c9c9;
    --color-black: #151515;
    --color-grey: #202020;

    --bg-color: var(--color-black);

    --font: 'Roboto', sans-serif;
    
}

